.icons {
  padding-top: 2em;
  padding-bottom: .5em;
}
.icons span {
  position: absolute;
}
.icons img {
  float: right;
}

img {
  height: 40px;
  width:  40px;
  color: #f00;
}

.meter .marker {
  height: 100%;
  position: absolute;
  top: 0;
  left: -.125em; /* centers the marker on the number */
  border-right: .25em solid #e5e0e2;
}

/* css 3 progress bar*/

.meter {
  height: 3em;  /* Can be anything */
  position: relative;
  margin: 60px 0 20px 0; /* Just for demo spacing */
  background: white;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: #00f19f;
  position: relative;
  overflow: hidden;
}

.nostripes > span > span, .nostripes > span:after {
  -webkit-animation: none;
  -moz-animation: none;
  background-image: none;
}
