.event {
	font-size: 36px;
}
.event > div {
	display: inline-block;
	clear: both;
	height: 100px;
}
.event .date {
	text-align: center;
	font-size: 60px;
	width: 5%;
	float: left;
}

.event .date .day-of-week {
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: -19px;
	text-align: center;
}

.event-info {
	background-color: white;
	padding: 10px;
	width: 90%;
	position: relative;
	margin-left: 35px;
	margin-bottom: 30px;
	border-left: 10px solid gray;
}

.event-info.at-neo {
	border-left: 10px solid #64e594;
}

.event-time {
	font-size: 20px;
}

.event-summary {
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 40px;
}

.event-images {
	position: absolute;
	right: 10px;
	top: 13px;
}
.event-images img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 5px;
}
